@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import "./styles/variables.scss";

body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
}

html {
  background-color: $background-color;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: $cursor-default-index;
}

button {
  cursor: $cursor-default-index;
}

a {
  cursor: $cursor-default-index;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input, textarea {
  cursor: $cursor-text-index;
}