.menu {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(0, calc(-50% + 180px));
  width: 300px;
  display: flex;
  justify-content: center;

  &__shoppingCart {
    &__cart {
      color: black;
      font-size: 14px;
      text-decoration: none;

      &.-blinking {
        animation: blink infinite 1.5s linear;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__scroll {
      position: absolute;
      top: 0px;
      left: 100px;
    }
  }
}

@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: rgb(175, 175, 175);
  }
  100% {
    color: black;
  }
}
