@import "../../styles/variables.scss";

.success {
  position: absolute;
  width: 500px;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 150px;

  &__header {
    margin-left: 110px;
  }

  &__items {
    margin-top: 100px;

    &__total {
      position: absolute;
      right: 0px;
      display: flex;
      width: 100px;
      justify-content: space-between;
    }
  }
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__image {
    height: 70px;
    width: 70px;
  }

  &__name {
    width: 200px;
  }
}

.shipping {
  margin-top: 100px;
  white-space: pre-line;
  display: flex;
  justify-content: space-between;

  &__vertical {
    width: 0;
    border: 0.5px black solid;
  }

  &__box {
    width: 40%;
  }
}

.back {
  position: fixed;
  top: 60px;
  left: 100px;
  text-decoration: none;
  color: black;
  
  &:hover {
    text-decoration: underline;
  }
}

.email {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: $max-width) {
  .success {
    width: 80%;

    &__header {
      padding: 5px;
      overflow: hidden;
      height: 15px;
      margin: 50px 0 0 0;
    }

    &__items {
      margin-top: 90px;
    }
  }

  .listItem {
    flex-wrap: wrap;
    align-items: flex-end;
    height: 110px;

    &__name {
      width: calc(100% - 70px);
      text-align: right;
    }
  }

  .shipping {
    flex-direction: column;

    &__vertical {
      display: none;
    }

    &__box {
      width: 100%;
    }
  }

  .back {
    top: 20px;
    left: 20px;
    margin: 10px;
  }
}
