.menu {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(0, calc(-50% + 180px));
  width: 300px;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__cart {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin-top: 35px;

    &.-blinking {
      animation: blink infinite 1.5s linear;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__scroll {
    position: absolute;
    top: 0px;
    left: 100px;
  }

  &__info {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: rgb(175, 175, 175);
  }
  100% {
    color: black;
  }
}
