@import "../../styles/variables.scss";

.info {

  &__content {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 30%;
  }

  &__back {
    position: fixed;
    top: 60px;
    left: 100px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $max-width) {
    &__content {
      width: 80%;
    }

    &__back {
      top: 20px;
      left: 20px;
      margin: 10px;
    }
  }
}

.section {
  &__header {
    cursor: pointer;
  }

  &__body {
    height: auto;
    max-height: 0px;
    overflow: scroll;
    transition: ease 0.5s;
    font-size: 14px;

    &.-expanded {
      max-height: 400px;
      //height: auto;
    }
  }
}

.arrow {
  display: inline-block;
  transition: ease 0.5s;
  position: absolute;
  left: -20px;

  &.-down {
    transform: rotate(-180deg);
  }
}

table {
  width: 100%;

  td {
    text-align: center;
  }
}
