@import "../../styles/variables.scss";

.info {
  &__content {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 30%;
  }

  &__back {
    position: fixed;
    top: 60px;
    left: 100px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $max-width) {
    &__content {
      width: 80%;
    }

    &__back {
      top: 20px;
      left: 20px;
      margin: 10px;
    }
  }
}

.section {
  &__header {
    cursor: pointer;
  }

  &__body {
    height: auto;
    max-height: 0px;
    overflow: scroll;
    transition: ease 0.5s;
    font-size: 14px;

    &.-expanded {
      max-height: 400px;
      //height: auto;
    }
  }
}

.arrow {
  display: inline-block;
  transition: ease 0.5s;
  position: absolute;
  left: -20px;

  &.-down {
    transform: rotate(-180deg);
  }
}

table {
  width: 100%;

  td {
    text-align: center;
  }
}

.contact {
  height: 400px;

  .inputField {
    width: 95%;
    outline: none;
    border: solid black 2px;
    padding: 5px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
  }

  &__input {
    @extend .inputField;
    height: 20px;
    margin: 10px 0;
  }

  &__body {
    @extend .inputField;
    height: 150px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  input::placeholder, textarea::placeholder {
    font-size: 15px;
    font-family: "Inconsolata", monospace;
  }

  &__submitWrapper {
    height: 0px;
    overflow: hidden;
    transition: ease 0.2s;

    &.-maximize {
      height: 40px;
    }
  }

  &__submit {
    width: 200px;
    border: solid black 2px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    outline: none;
    padding: 10px;
    background-color: transparent;
    transition: ease 0.2s;

    &:hover {
      background-color: black;
      color: white;
    }

    &:disabled {
      background-color: transparent;
      color: grey;
      border: solid grey 2px;
    }
  }

  &__confirmation {
    position: absolute;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}
