.listItem {
  display: flex;
  width: 700px;
  height: 400px;
  margin: 20px;

  &__left {
    width: 200px;
    position: relative;
    flex: 20;
    margin-top: 50px;

    .price {
      position: absolute;
      right: 0px;
    }
  }

  &__right {
    flex: 16;
    margin-left: 50px;
    background-color: cadetblue;
  }

  &__sizes {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
}

.sizeButton {
  width: 40px;
  height: 40px;
  border: solid black 2px;
  line-height: 2.4;
  text-align: center;
  transition: ease 0.3s;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
