.listItem {
  display: flex;
  width: 700px;
  height: 400px;
  margin: 20px;

  &__left {
    position: relative;
    flex: 15;
    margin-top: 100px;

    .price {
      position: absolute;
      right: 0px;
    }
  }

  &__right {
    flex: 14;
    background-color: cadetblue;
  }
}
