.cart {
  position: relative;
  margin-bottom: 400px;
  cursor: default;
  pointer-events: auto;

  &__topBorder {
    position: absolute;
    top: -150px;
  }

  &__right {
    position: absolute;
    width: 400px;
    left: 400px;
  }

  &__item {
    position: relative;
    padding: 10px 10px 30px 10px;

    &.-bold {
      font-weight: bold;
    }
  }

  &__break {
    height: 70px;
  }

  &__checkout {
    position: absolute;
    width: 200px;
    border: solid black 2px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    outline: none;
    padding: 10px;
    transition: ease 0.2s;
    background-color: transparent;
    margin-left: 10px;
    margin-bottom: 200px;

    &:hover {
      background-color: black;
      color: white;
    }

    &:disabled {
      background-color: transparent;
      color: grey;
      border: solid grey 2px;
    }
  }

  &__removeButton {
    position: absolute;
    top: 5px;
    right: 20px;
    border: solid black 2px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    outline: none;
    padding: 2px 6px;
    transition: ease 0.2s;
    background-color: transparent;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
