@import "../../styles/variables.scss";

.box {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);

  &__train {
    position: absolute;

    &__main {
      position: relative;
      width: 300px;
      height: 300px;
      overflow: hidden;
    }

    &__head {
      position: relative;
      overflow: hidden;
    }

    &__item {
      position: relative;
      height: 500px;
      overflow: hidden;
    }

    &__tail {
      position: relative;
      height: 10000px;
      overflow: hidden;
    }
  }

  &__content {
    position: absolute;
  }

  @media screen and (max-width: $max-width) {
    top: 10%;
    transform: translate(50%, 0);
    
    &__train {

      &__tail {
        display: none;
      }
    }
  }
}
