.box {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  right: 50%;
  background-color: #a7a3db;
  transform: translate(0, -50%);
  overflow: hidden;

  &__train {
    position: absolute;

    &__main {
      position: relative;
      width: 300px;
      height: 300px;
      overflow: hidden;
      background-color: green;
    }

    &__head {
      position: relative;
      width: 300px;
      overflow: hidden;
      background-color: brown;
    }

    &__item {
      position: relative;
      width: 300px;
      height: 450px;
      overflow: hidden;
      background-color: blue;
    }
  }

  &__content {
    position: absolute;
    width: 300px;
    height: 300px;
  }
}