$max-width: 750px;
$background-color: #e9e9e9;

// for components
$cursor-default: url("../../assets/cursor_default.png") 6 6, auto;
$cursor-zoom: url("../../assets/cursor_zoom.png") 6 6, auto;
$cursor-text: url("../../assets/cursor_text.png"), auto;

// for index.jsx
$cursor-default-index: url("./assets/cursor_default.png") 6 6, auto;
$cursor-text-index: url("./assets/cursor_text.png"), auto;